.corpo{
    background-color: aqua;
    color: brown;
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: black;
}

p{
    color: green;
    font-size: 20px;
}

#lista{
    background-color: chartreuse;
    text-align: center;
    font-size: 24px;
    color: darkorchid;
    border: dotted yellow 5px;
}

